#advertisement_bottom,#enhanced_skin_container,#skinSponsorImage,#promotional_ticker_container,#advertisement,.advertisement_double_wide,.advertisement_double_wide_short #google_adwords,#google_companion_ad_div_container,#leaderboard_container,#bottom_leaderboard_container
{
	display:none !important;
	visibility:hidden !important;
	z-index:-999999999 !important;
}

body
{
	background:#e9eef1 none !important;
}

#container.fv, .fv div,.fv h1,.fv h2, .fv h3, .fv h4,.fv h5,.fv h6,.fv p,.fv em,.fv span
{
	font-family:Helvetica, Arial, sans-serif !important;
}

#container.fv
{
	background-image:none !important;
	height:auto !important;
  overflow:hidden !important;
}

.fv #content.tuner
{
	background:#fff no-repeat center top;
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	position:static;
	padding-top:4px;
	width:640px;
	margin:20px auto;
}

.fv .tuner #footer
{
	width:auto !important;
	margin:5px 50px !important;
}

.fv .tuner #footer a
{
	color:#888 !important;
}

.fv .tuner #footer a:hover
{
	color:#DDD !important;
}

.fv #container_a, .fv #container_c,.fv #logo_div,.fv #top_left,.fv #top_right,.fv #bottom,.fv #footer
{
	background:#fff none;
}

.fv #container_c
{
	top:80px;
	width:100%;
}

.fv #logo_div
{
	top:5px;
}

.fv #search_box,.fv #nav_community
{
	top:45px;
}

.fv #logo,.fv #powered
{
	visibility:hidden;
}

.fv #bottom .fv #footer
{
	margin-left:265px;
	width:auto;
	padding:15px 0;
}

